body{
    box-sizing: border-box;
    width: 100%;
    font-family: "Poppins", sans-serif;}


.blue-bg{
    background-color: #4F46E5;
}
.blue-fg{
    color: #4F46E5;
}
.zinc-bg{
    background-color: #4B5563;
}
.zinc-fg{
    color: #4B5563;
}
.m-inline-auto{
    margin-inline: auto;
}
.light-blue{
    background-color:#F5F3FF;
}
.mygap{
    gap: 10px;
}